---
# Home Assistant Configuration
# https://www.home-assistant.io/docs/configuration/

# Home Assistant
# https://home-assistant.io/docs/configuration/basic/
# homeassistant: !include homeassistant.yaml
homeassistant:
  # Name of the location where Home Assistant is running
  name: Home

  # Location required to calculate the time the sun rises and sets
  latitude: 51.056145
  longitude: 2.736947
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 45

  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Select timezone from http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/London
  # Select currency from https://en.wikipedia.org/wiki/ISO_4217#Active_codes
  currency: GBP

  # Authenticated Providers
  # https://www.home-assistant.io/docs/authentication/providers/
  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        - 192.168.1.0/24
      #      - !secret external_ip
      allow_bypass_login: true
      # trusted_users:
      #   192.168.1.24: 4cd6c52e90d84b0a96bda6f9c4b648c4  # User ID

# Default Config
# Configure a default setup of Home Assistant (frontend, api, etc)
# https://www.home-assistant.io/integrations/default_config/
default_config:

# Enables configuration UI
# https://www.home-assistant.io/integrations/config/
config:

# Conversation
# Allows you to issue voice commands from the frontend in enabled browsers
# https://www.home-assistant.io/integrations/conversation/
# conversation:

# Home Assistant Frontend
# Official frontend to control Home Assistant.
# https://www.home-assistant.io/integrations/frontend/
frontend:
  themes:
    happy:
      primary-color: pink
      text-primary-color: purple
      mdc-theme-primary: plum
    sad:
      primary-color: steelblue
      modes:
        dark:
          secondary-text-color: slategray
    day_and_night:
      primary-color: coral
      modes:
        light:
          secondary-text-color: olive
        dark:
          secondary-text-color: slategray

# # InfluxDB
# # https://www.home-assistant.io/integrations/influxdb/
# influxdb:
#   api_version: 2
#   ssl: false
#   host: 192.168.1.186
#   port: 8086
#   token: homeassistant
#   organization: homeassistant
#   bucket: homeassistant
#   tags:
#     source: ha
#   tags_attributes:
#     - friendly_name
#   default_measurement: units
#   # exclude:
#   #   entities:
#   #      - entity.id1
#   #      - entity.id2
#   #   domains:
#   #      - automation
#   # include:
#   #   entities:
#   #      - entity.id3
#   #      - entity.id4
#   include:
#     entities: !include_dir_merge_list influxdb


# Prometheus
# Exposes metrics in format for Prometheus
# https://www.home-assistant.io/integrations/prometheus/
prometheus:

# Recorder
#
# The recorder component is storing details in a database which
# then are handled by the history component.
#
# https://www.home-assistant.io/components/recorder/
#
# mysql://user:password@SERVER_IP/DB_NAME?charset=utf8mb4
recorder:
  # The number of days of history to keep in the recorder database
  # purge_keep_days: 2
  # auto_purge: true
  db_url: mysql://homeassistant:homeassistant@homeassistant-db:3306/homeassistant?charset=utf8mb4
  # include:
  #   # entities: !include_dir_merge_list ../influxdb
  #   domains:
  #     - sensor
  exclude:
    entities:
      - person.homeassistant


automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
